html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  background-color: #E9F5FF;
}


header {
  background-color: #242e36;
}

.stars-container {
  background-image: url('../img/stars.png');
}

.header-container {
  width: 270px;
  margin: auto;
  background-color: #242e36;
}

header img {
  width: 250px;
  margin: 20px 0 6px 6px;
}

h1 {
  color: #FFBDFD;
  text-align: right;
  padding: 0 6px 16px 16px;
  font-family: 'Fugaz One', cursive;
  font-size: 28px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.lead {
  margin-bottom: 10px;
}

.container {
  padding: 20px 20px;
}

.bingo-button {
  margin: 25px 0 40px 0;
}

.bingo-result {
  padding: 20px 0 0 0;
  font-size: 30px;
  text-align: center;
}

.list-group-item {
  font-size: 18px;
}
